In [27]:
import numpy as np
import pandas as pd

# Data source : 'https://www.kaggle.com/datasets/syedjaferk/top-1000-tiktokers'

# Import Data
top_1000 = pd.read_csv('top_1000_tiktokers.csv')
top_1000

,Rank,Username,Tiktok Link,Name,Subscribers Count,Views. Avg,Likes. Avg,Comments. Avg,Shares. Avg
0,1,badbunny,https://www.tiktok.com/@badbunny,Bad Bunny,23.4M,63.1M,10.3M,65.2K,108.6K
1,2,noahschnapp,https://www.tiktok.com/@noahschnapp,Noah Schnapp,26.1M,23.4M,4.8M,46.7K,22.1K
2,3,khaby.lame,https://www.tiktok.com/@khaby.lame,Khabane lame,145.9M,47.5M,2.5M,46K,9.4K
3,4,coopernoriega,https://www.tiktok.com/@coopernoriega,Cooper Noriega,3.2M,31M,1.3M,120.9K,8.4K
4,5,avrillavigne,https://www.tiktok.com/@avrillavigne,Avril Lavigne,4M,24.7M,3.5M,32.1K,22.7K
...,...,...,...,...,...,...,...,...,...
995,996,daraarafah24,https://www.tiktok.com/@daraarafah24,daraarafah,802.4K,2.1M,151.3K,1.7K,1K
996,997,straykids_japan,https://www.tiktok.com/@straykids_japan,straykids_japan,7.6M,718.5K,195.8K,4K,2.3K
997,998,fiersabesari,https://www.tiktok.com/@fiersabesari,Fiersa Besari,1.7M,1.1M,108.6K,395,6.9K
998,999,mrgrandeofficial,https://www.tiktok.com/@mrgrandeofficial,Mikey Angelo,2.1M,1.1M,227.4K,1.3K,2.1K
999,1000,nyc.yoel,https://www.tiktok.com/@nyc.yoel,Yoel,539.5K,1.2M,99.8K,288,7K

In [32]:
# Check Data
top_1000.info()
# Found1 have 2 null value in Name Column
# Found2 Unclean data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               1000 non-null   int64
 1   Username           1000 non-null   object
 2   Tiktok Link        1000 non-null   object
 3   Name               998 non-null    object
 4   Subscribers Count  1000 non-null   object
 5   Views. Avg         1000 non-null   object
 6   Likes. Avg         1000 non-null   object
 7   Comments. Avg      1000 non-null   object
 8   Shares. Avg        1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [38]:
top_1000[top_1000['Name'].isnull()]

# Name could be null in tiktok, but the username must be unique in this app. 
# Therefore, we will use username to define these creator

,Rank,Username,Tiktok Link,Name,Subscribers Count,Views. Avg,Likes. Avg,Comments. Avg,Shares. Avg
490,491,carloandsarah,https://www.tiktok.com/@carloandsarah,NaN,3.9M,3.2M,279.7K,1.1K,1.9K
686,687,iloveyourmomscatt,https://www.tiktok.com/@iloveyourmomscatt,NaN,8.2K,1.3M,159.3K,4.9K,3.3K

In [39]:
# Change dtype
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

In [43]:
# Clean Data
top_1000['Subscribers Count'] = top_1000['Subscribers Count'].apply(value_to_float)
top_1000['Views. Avg'] = top_1000['Views. Avg'].apply(value_to_float)
top_1000['Likes. Avg'] = top_1000['Likes. Avg'].apply(value_to_float)
top_1000['Comments. Avg'] = top_1000['Comments. Avg'].apply(value_to_float)
top_1000['Shares. Avg'] = top_1000['Shares. Avg'].apply(value_to_float)

In [44]:
top_1000

,Rank,Username,Tiktok Link,Name,Subscribers Count,Views. Avg,Likes. Avg,Comments. Avg,Shares. Avg
0,1,badbunny,https://www.tiktok.com/@badbunny,Bad Bunny,23400000.0,63100000.0,10300000.0,65200.0,108600.0
1,2,noahschnapp,https://www.tiktok.com/@noahschnapp,Noah Schnapp,26100000.0,23400000.0,4800000.0,46700.0,22100.0
2,3,khaby.lame,https://www.tiktok.com/@khaby.lame,Khabane lame,145900000.0,47500000.0,2500000.0,46000.0,9400.0
3,4,coopernoriega,https://www.tiktok.com/@coopernoriega,Cooper Noriega,3200000.0,31000000.0,1300000.0,120900.0,8400.0
4,5,avrillavigne,https://www.tiktok.com/@avrillavigne,Avril Lavigne,4000000.0,24700000.0,3500000.0,32100.0,22700.0
...,...,...,...,...,...,...,...,...,...
995,996,daraarafah24,https://www.tiktok.com/@daraarafah24,daraarafah,802400.0,2100000.0,151300.0,1700.0,1000.0
996,997,straykids_japan,https://www.tiktok.com/@straykids_japan,straykids_japan,7600000.0,718500.0,195800.0,4000.0,2300.0
997,998,fiersabesari,https://www.tiktok.com/@fiersabesari,Fiersa Besari,1700000.0,1100000.0,108600.0,0.0,6900.0
998,999,mrgrandeofficial,https://www.tiktok.com/@mrgrandeofficial,Mikey Angelo,2100000.0,1100000.0,227400.0,1300.0,2100.0
999,1000,nyc.yoel,https://www.tiktok.com/@nyc.yoel,Yoel,539500.0,1200000.0,99800.0,0.0,7000.0

In [47]:
top_1000.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               1000 non-null   int64
 1   Username           1000 non-null   object
 2   Tiktok Link        1000 non-null   object
 3   Name               998 non-null    object
 4   Subscribers Count  1000 non-null   float64
 5   Views. Avg         1000 non-null   float64
 6   Likes. Avg         1000 non-null   float64
 7   Comments. Avg      1000 non-null   float64
 8   Shares. Avg        1000 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 70.4+ KB

In [60]:
### Hypothesis 1:The company want to promoting the new products. The company is in the gaming industry. And the list below is all gaming content creator on tiktok
# I will choose the accounts with the most views because tiktok's algorithm is automatic content distribution.
# So those with a large stable number of views will be more suitable for promoting a new product to everyone.

top10_view = top_1000.sort_values('Views. Avg', ascending = False).head(10)
top10_view = top10_view[['Username','Tiktok Link','Views. Avg']]
top10_view

,Username,Tiktok Link,Views. Avg
0,badbunny,https://www.tiktok.com/@badbunny,63100000.0
2,khaby.lame,https://www.tiktok.com/@khaby.lame,47500000.0
3,coopernoriega,https://www.tiktok.com/@coopernoriega,31000000.0
5,therealcalebmclaughlin,https://www.tiktok.com/@therealcalebmclaughlin,25300000.0
4,avrillavigne,https://www.tiktok.com/@avrillavigne,24700000.0
1,noahschnapp,https://www.tiktok.com/@noahschnapp,23400000.0
10,pilusion,https://www.tiktok.com/@pilusion,18600000.0
8,charlidamelio,https://www.tiktok.com/@charlidamelio,18500000.0
9,scarlettsspam2,https://www.tiktok.com/@scarlettsspam2,17900000.0
26,yzn47,https://www.tiktok.com/@yzn47,17100000.0

In [64]:
### Hypothesis 2:The company want to promoting the new features
# I will choose the accounts with the most share because their view tend to share their video easier than others.
# If so, the content will be sent to more group and mess then both the company and its competitors's users will know about it 

top10_share = top_1000.sort_values('Shares. Avg', ascending = False).head(10)
top10_share = top10_share[['Username','Tiktok Link','Shares. Avg']]
top10_share

,Username,Tiktok Link,Shares. Avg
0,badbunny,https://www.tiktok.com/@badbunny,108600.0
7,daniel.labelle,https://www.tiktok.com/@daniel.labelle,64700.0
289,tony_trindade_oficial,https://www.tiktok.com/@tony_trindade_oficial,56100.0
863,alfaanm,https://www.tiktok.com/@alfaanm,36300.0
119,gingerbilly1,https://www.tiktok.com/@gingerbilly1,30300.0
134,paansih16,https://www.tiktok.com/@paansih16,27700.0
11,enhypen,https://www.tiktok.com/@enhypen,26800.0
78,tacticaltaz,https://www.tiktok.com/@tacticaltaz,23000.0
260,zulaikhaysf,https://www.tiktok.com/@zulaikhaysf,22800.0
4,avrillavigne,https://www.tiktok.com/@avrillavigne,22700.0

In [68]:
### Hypothesis 2:The company has a media crisis and has provided an explanation, but still needs influencers to support and protect it.
# Those who have more like in their video will bring back the sympathize. We can seeding and filter in the comment sections to direct public options
top10_like = top_1000.sort_values('Likes. Avg', ascending = False).head(10)
top10_like = top10_like[['Username','Tiktok Link','Likes. Avg']]
top10_like

,Username,Tiktok Link,Likes. Avg
0,badbunny,https://www.tiktok.com/@badbunny,10300000.0
1,noahschnapp,https://www.tiktok.com/@noahschnapp,4800000.0
4,avrillavigne,https://www.tiktok.com/@avrillavigne,3500000.0
5,therealcalebmclaughlin,https://www.tiktok.com/@therealcalebmclaughlin,3100000.0
6,zeth,https://www.tiktok.com/@zeth,3000000.0
2,khaby.lame,https://www.tiktok.com/@khaby.lame,2500000.0
15,nessaabarrett,https://www.tiktok.com/@nessaabarrett,2300000.0
12,onwardwanna,https://www.tiktok.com/@onwardwanna,2100000.0
19,pongamoslo_a_prueba,https://www.tiktok.com/@pongamoslo_a_prueba,1900000.0
11,enhypen,https://www.tiktok.com/@enhypen,1800000.0

NameError: name 'top_1000_tiktokers' is not defined